version: "3"

volumes:
  db-data:
  debug-mail:
  autograph-certs:
  attachments:
services:
  db:
    image: postgres:12
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      PGUSER: postgres
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 1s
      timeout: 3s
      retries: 30

  memcached:
    image: memcached:1

  autograph:
    image: mozilla/autograph
    user: root
    volumes:
      - autograph-certs:/tmp/autograph

  certchains:
    image: httpd:2
    volumes:
      - autograph-certs:/usr/local/apache2/htdocs/
    depends_on:
      - autograph
    ports:
      - 9999:80

  web:
    build:
      dockerfile: RemoteSettings.Dockerfile
      target: local
      context: .
    image: remotesettings/local
    depends_on:
      - db
      - memcached
      - autograph
    environment:
      - KINTO_CACHE_BACKEND=kinto.core.cache.memcached
      - KINTO_CACHE_HOSTS=memcached:11211 memcached:11212
      - KINTO_STORAGE_BACKEND=kinto.core.storage.postgresql
      - KINTO_STORAGE_URL=postgresql://postgres@db/postgres
      - KINTO_PERMISSION_BACKEND=kinto.core.permission.postgresql
      - KINTO_PERMISSION_URL=postgresql://postgres@db/postgres
    ports:
      - 8888:8888
    volumes:
      - ./config:/app/config
      - ./kinto-remote-settings:/app/kinto-remote-settings
      - debug-mail:/app/mail
      - attachments:/tmp/attachments

  tests:
    build:
      dockerfile: IntegrationTests.Dockerfile
      context: .
    image: remotesettings/tests
    profiles: [integration-test]
    depends_on:
      - web
      - certchains
    environment:
      - SERVER=http://web:8888/v1/
      - MAIL_DIR=/var/debug-mail/
    volumes:
      - debug-mail:/var/debug-mail/

