volumes:
  db-data:
  debug-mail:
  attachments:
services:
  db:
    image: postgres:15
    volumes:
      - db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      PGUSER: postgres
    healthcheck:
      test: [ "CMD", "pg_isready" ]
      interval: 1s
      timeout: 3s
      retries: 30

  memcached:
    platform: linux/amd64
    image: memcached:1

  autograph:
    platform: linux/amd64
    image: mozilla/autograph
    user: root
    ports:
      - 8000:8000
  web:
    build:
      dockerfile: RemoteSettings.Dockerfile
      target: local
      context: .
    image: remotesettings/local
    depends_on:
      - db
      - memcached
      - autograph
    environment:
      - KINTO_CACHE_BACKEND=kinto.core.cache.memcached
      - KINTO_CACHE_HOSTS=memcached:11211 memcached:11212
      - KINTO_STORAGE_BACKEND=kinto.core.storage.postgresql
      - KINTO_STORAGE_URL=postgresql://postgres@db/postgres
      - KINTO_PERMISSION_BACKEND=kinto.core.permission.postgresql
      - KINTO_PERMISSION_URL=postgresql://postgres@db/postgres
    ports:
      - 8888:8888
    volumes:
      - ./config:/app/config
      - ./kinto-remote-settings:/app/kinto-remote-settings
      - debug-mail:/app/mail
      - attachments:/tmp/attachments

  tests:
    build:
      dockerfile: BrowserTests.Dockerfile
      context: .
    image: remotesettings/tests
    profiles: [browser-test]
    depends_on:
      - web
    environment:
      - SERVER=http://web:8888/v1
      - MAIL_DIR=/var/debug-mail/
    volumes:
      - debug-mail:/var/debug-mail/
  cronjobs:
    build:
      dockerfile: Cronjobs.Dockerfile
      context: .
    image: remotesettings/cronjobs
    profiles: [cronjobs]
