[tool.isort]
profile = "black"
lines_after_imports = 2
src_paths = ["kinto-remote-settings", "tests"]

[tool.pytest.ini_options]
# https://docs.pytest.org/en/6.2.x/usage.html
# -ra: shows test summary for all EXCEPT passed and passed with output
# --showlocals: show local variables in tracebacks
# --tb=native: traceback printing with Python standard library formatting
addopts = "-ra --showlocals --tb=native"
sensitive_url = "https://settings-writer.prod.mozaws.net/v1/admin"
asyncio_mode = "auto"
