[tool.ruff]
extend-exclude = [
    "__pycache__",
]

[tool.ruff.lint]
select = [
    # pycodestyle
    "E", "W",
    # flake8
    "F",
    # isort
    "I",
    # pytest style
    "PT",
    # eradicate commented code
    "ERA",
    # ruff lint
    "RUF",
]
ignore = [
    # `format` will wrap lines.
    "E501",
]

[tool.ruff.lint.isort]
lines-after-imports = 2

[tool.pytest.ini_options]
# https://docs.pytest.org/en/6.2.x/usage.html
# -ra: shows test summary for all EXCEPT passed and passed with output
# --showlocals: show local variables in tracebacks
# --tb=native: traceback printing with Python standard library formatting
addopts = "-ra --showlocals --tb=native"
sensitive_url = ".mozaws.net"
asyncio_mode = "strict"

[tool.pytest_env]
# Environment variables (thanks to pytest-env)
# Basically, undo anything that might get dragged in
# from a personal .env file.
DEBUG = false
REDASH_API_KEY = "shhhuhsecret" # pragma: allowlist secret
REDASH_API_QUERY_URL = "https://sql.telemetry.example.com/api/queries/001/"
EXCLUDE_SOURCES = "trouble/*"
DEFAULT_ERROR_THRESHOLD_PERCENT = 3.0
SENTRY_DSN = "https://fake:secret@sentry.example.com/001" # pragma: allowlist secret
GOOGLE_CLOUD_PROJECT = "remote-settings"

[tool.coverage]
# https://github.com/nedbat/coveragepy
    [tool.coverage.run]
    omit = [
        '*/.local/*',
        '/usr/*',
        '*/.venv/*',
        '*/.tox/*',
        '*/virtualenvs/*',
    ]

    [tool.coverage.report]

    exclude_lines = [
        "# noqa",
        "raise NotImplementedError",
        "pragma: no cover",
        "def __repr__",
        "if .debug:",
        "raise NotImplementedError",
        "if __name__ == .__main__.:",
        "logger.",
        "from",
        "import"
    ]

[tool.poetry]
name = "remote-settings"
version = "0"
description = "Easily manage evergreen settings data in Firefox"
authors = ["Contactless <postmaster@localhost>"]
license = "MPL"
readme = "README.rst"

[tool.poetry.dependencies]
python = ">=3.11, <3.14"
canonicaljson-rs = "0.7.1"
cryptography = "44.0.0"
ecdsa = "0.19.0"
kinto = {version = "^19.4.0", extras = ["postgresql","memcached","monitoring"]}
kinto-attachment = "7.0.0"
kinto-emailer = "3.0.2"
requests-hawk = "1.2.1"
uwsgi = "2.0.28"

[tool.poetry.group.kinto-remote-settings.dependencies]
kinto-remote-settings = {path = "./kinto-remote-settings", develop = true}

[tool.poetry.group.dev.dependencies]
pytest = "8.3.4"
webtest = "3.0.3"
coverage = "7.6.10"
detect-secrets = "^1.5.0"
ruff = "^0.9.4"
responses = "^0.25.6"

[tool.poetry.group.browser-tests]
optional = true

[tool.poetry.group.browser-tests.dependencies]
aiohttp = "3.11.11"
autograph-utils = "1.0.1"
canonicaljson-rs = "0.7.1"
httpie = "3.2.4"
kinto-http = "11.7.1"
pytest = "8.3.4"
webtest = "3.0.3"
playwright = "1.49.1"
pytest-playwright = "0.7.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
docutils = "0.21.2"
sphinx = "8.1.3"

[tool.poetry.group.cronjobs.dependencies]
backoff = "^2.2.1"
python-decouple = "^3.8"
kinto-http = "^11.7.0"
requests = "^2.32.3"
sentry_sdk = "^2.20.0"
google-cloud-storage = "^3.0.0"
lz4 = "^4.3.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
