pyramid<2
kinto[postgresql,monitoring]
kinto-attachment
kinto-amo
kinto-changes
kinto-elasticsearch
kinto-emailer
kinto-signer
kinto-megaphone
kinto-fxa
amo2kinto
boto
python-memcached
Werkzeug
ec2-metadata
kinto-redis
redis
uWSGI
