# These environment variables must be set in CircleCI UI
#
# DOCKERHUB_REPO - docker hub repo, format: <username>/<repo>
# DOCKER_EMAIL   - login info for docker hub
# DOCKER_USER
# DOCKER_PASS
#

version: 2
jobs:
  build:
    docker:
      - image: ubuntu:16.04
    working_directory: ~/kinto-dist
    steps:

      - run:
          name: Install essential packages
          command: |
            apt-get update && apt-get install -y ca-certificates curl git openssh-client

      - checkout

      - run:
          name: Install Docker client
          command: |
            set -x
            # Latest 200 OK version as of June 2018
            # https://circleci.com/docs/2.0/building-docker-images/#docker-version
            VER="17.09.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin

      - run:
          name: Install Docker Compose
          command: |
             curl -L https://github.com/docker/compose/releases/download/1.19.0/docker-compose-`uname -s`-`uname -m` > ~/docker-compose
             chmod +x ~/docker-compose
             mv ~/docker-compose /usr/local/bin/docker-compose

      - setup_remote_docker:
          version: 17.09.0-ce

      - run:
          name: Create version.json
          command: |
            # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/master/docs/version_object.md
            printf '{"commit":"%s","version":"%s","source":"https://github.com/%s/%s","build":"%s"}\n' \
            "$CIRCLE_SHA1" \
            "$CIRCLE_TAG" \
            "$CIRCLE_PROJECT_USERNAME" \
            "$CIRCLE_PROJECT_REPONAME" \
            "$CIRCLE_BUILD_URL" > version.json

      - run:
          name: Build
          command: docker-compose -f docker-compose.ci.yml build

      - run:
          name: Start once
          command: |
            # This will start all the dependencies first
            docker-compose -f docker-compose.ci.yml run web sleep 5

      - run:
          name: Migrate
          command: |
            docker-compose -f docker-compose.ci.yml run web migrate

      - run:
          name: Tests
          command: |
              docker-compose -f docker-compose.ci.yml run tests start

      - run:
          name: Push latest to Dockerhub
          filters:
            branches:
              only:
                - master
          command: |
            ./bin/deploy-dockerhub.sh latest

      - run:
          name: Push tag to Dockerhub
          filters:
            tags:
              only: /.*/
          command: |
            ./bin/deploy-dockerhub.sh "$CIRCLE_TAG"
