name: Build and Publish Docker Containers

on:
  push:
    branches:
      - main
    tags:
      - "*"

env:
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1 # Reduce warnings from Docker Buildx

jobs:
  server_container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Enable multiplatform builds
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: "--debug" # Enable detailed logging
      - name: Set tag version
        run: echo "LATEST_TAG=$(git describe --tags --abbrev=4)" >> "$GITHUB_ENV"
      - name: Create version.json
        run: |
            # create a version.json per https://github.com/mozilla-services/Dockerflow/blob/main/docs/version_object.md
            printf '{\n    "commit": "%s",\n    "version": "%s",\n    "source": "%s",\n    "build": "%s"\n}\n' \
            "$GITHUB_SHA" \
            "$LATEST_TAG" \
            "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY" \
            "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID" > ./version.json
            # Show complete version.json for debugging
            cat ./version.json
      - name: Docker metadata
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: mozilla/remote-settings
          tags: |
            type=raw,value=${{ env.LATEST_TAG }}
            type=raw,value=latest
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: RemoteSettings.Dockerfile
          target: production
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          platforms: linux/amd64,linux/arm64

  browser_test_container:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Enable multiplatform builds
        uses: docker/setup-buildx-action@v3
        with:
          buildkitd-flags: "--debug" # Enable detailed logging
      - name: Set tag version
        run: echo "LATEST_TAG=$(git describe --tags --abbrev=4)" >> "$GITHUB_ENV"
      - name: Docker metadata
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: mozilla/remote-settings-browser-tests
          tags: |
            type=raw,value=${{ env.LATEST_TAG }}
            type=raw,value=latest
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: BrowserTests.Dockerfile
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
